.ball {
  background-image: url("https://res.cloudinary.com/dezalma3v/image/upload/v1546789118/tennis-ball-copy-4.png");
  width: 23px;
  height: 23px;
  position: absolute;
  margin: -8px 0 0 -8px;
  transform: rotateY(-60deg);
  z-index: 2;
  border-radius: 50%;
  object-fit: contain;
  background-blend-mode: soft-light;
  /* background-image: linear-gradient(to bottom, #000000, #000000); */

  background-color: #C1FF5C;
}
.tennisBall-copy-4 {
  width: 23px;
  height: 23px;
  object-fit: contain;
  background-blend-mode: soft-light;
  /* background-image: linear-gradient(to bottom, #000000, #000000); */
}