@keyframes moveAnimation1 {
  from {
    top: 20%;
    left: 10%
  }

  /* 34%{
    opacity: 0;
  } */
  35% {
    top: 40%;
    left: 60%
  }

  /* 40%{
    opacity: 0;
  } */
  45% {
    top: 45%;
    left: 65%
  }

  /* 50%{
    opacity: 0;
  } */

  65% {
    top: 55%;
    left: 75%
  }

  /* 75% {
    opacity: 0;
  } */

  85% {
    top: 65%;
    left: 75%
  }

  /* 90%{
    opacity: 0;
  } */

  to {
    top: 75%;
    left: 75%
  }
}

@keyframes moveAnimation2 {
  from {
    top: 80%;
    left: 10%;
    opacity: 1;

  }

  35% {
    top: 60%;
    left: 65%;
    opacity: .1
  }

  55% {
    top: 50%;
    left: 78%;
    opacity: 1
  }


  80% {
    top: 40%;
    left: 80%;
    opacity: .1
  }

  to {
    top: 35%;
    left: 80%;
    opacity: 1
  }
}


.ball {
  background-image: url("https://res.cloudinary.com/dezalma3v/image/upload/v1548187446/tennis-ball-copy-4.png");
  width: 0.6em;
  height: 0.6em;
  position: absolute;
  margin: -0.5em 0 0 -0.5em;
  transform: rotateY(-60deg);
  z-index: 2;
  border-radius: 50%;
  object-fit: contain;
  background-blend-mode: soft-light;
}

.ball.moveAnimation1 {
  animation-name: moveAnimation1;
  animation-duration: 1.2s;
  animation-timing-function: linear;
  animation-delay: 0.2s;
  animation-iteration-count: infinite;
  /* animation-direction: alternate */
}

.ball.moveAnimation2 {
  animation-name: moveAnimation2;
  animation-duration: 1.2s;
  animation-timing-function: linear;
  /* animation-delay: 2s; */
  animation-delay: 0.2s;
  animation-iteration-count: infinite;
  /* animation-direction: alternate */
}


.tennisBall-copy-4 {
  position: absolute;
  width: 0.6em;
  height: 0.6em;
  object-fit: contain;
  background-blend-mode: soft-light;
}


@media only screen and (max-width: 600px) {
  .ball {
    width: 0.4em;
    height: 0.4em;
  }

  .tennisBall-copy-4 {
    position: absolute;
    width: 0.4em;
    height: 0.4em;
    object-fit: contain;
    background-blend-mode: soft-light;
  }
}
