.scoreBG {
  background-image: url('https://res.cloudinary.com/dezalma3v/image/upload/v1548880330/scoreBG.png');
  position: absolute;
  width: 37vw;
  height: 29vh;
  left: 31vw;
  top: 28vh;
  -o-object-fit: contain;
  object-fit: contain;
  background-repeat: no-repeat;
  background-size: contain;
  background-blend-mode: soft-light;
}

.score {
  top: 35vh;
  font-family: Montserrat;
  font-size: 50px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  position: absolute;
  display: block;
  width: 100%;
}

.rightBall {
  background-image: url('https://res.cloudinary.com/dezalma3v/image/upload/v1548882211/RIGHTtennisBall.png');
  position: absolute;
  width: 12vw;
  height: 35vh;
  left: 64vw;
  top: 28vh;
  -o-object-fit: contain;
  object-fit: contain;
  background-repeat: no-repeat;
  background-size: contain;
  background-blend-mode: soft-light;
}

.leftBall {
  background-image: url('https://res.cloudinary.com/dezalma3v/image/upload/v1548882207/LEFTtennisBall.png');
  position: absolute;
  width: 12vw;
  height: 35vh;
  left: 23vw;
  top: 28vh;
  -o-object-fit: contain;
  object-fit: contain;
  background-repeat: no-repeat;
  background-size: contain;
  background-blend-mode: soft-light;
}

@media only screen and (max-width: 420px) {

  .score {
    top: 31%;
    font-family: Montserrat;
    font-size: 230%;
  }
}
