.wrapper {
  width: 1025px;
  height: 786px;
  object-fit: contain;
  display: flow-root;
  flex-direction: column;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
  position: relative;
  overflow: hidden;
  
  background-size: contain;
  background-repeat: no-repeat;
}
.wrapper.clay {
  background-image:url("https://res.cloudinary.com/dezalma3v/image/upload/v1546764631/camera-view-clay-1024-x-768.png"); 
}

.wrapper.hard {
  background-image:url("https://res.cloudinary.com/dezalma3v/image/upload/v1546765281/camera-view-hard-court-1024-x-768.png"); 
}
.wrapper.grass {
  background-image:url("https://res.cloudinary.com/dezalma3v/image/upload/v1546764672/camera-view-grass-1024-x-768.png"); 
}


.error-overlay {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 80px;
  background: rgba(206, 206, 206, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all ease-in .2s;
}

.error-overlay.open {
  right: 150px;
}
