.graph-stat-rectangle {
  width: 44vw;
  top: 13%;
  left: 50%;
  height: 80vh;
  position: absolute;
  mix-blend-mode: screen !important;
}

.graph-stat {
  width: 78vw;
  top: 22%;
  left: 15%;
  height: 37vh;
  position: absolute;
  mix-blend-mode: screen !important;
}

.title-lps {
  position: absolute;
  top: 14vh;
  left: 38% !important;
  letter-spacing: 0.8px !important;
  font-size: 2vw;
  /* font-stretch: normal !important; */
  font-family: Montserrat !important;
  color: #ffffff;
}

.title-ace {
  display: block;
  /* width: 100%; */
  font-size: 3vw !important;
  left: 25% !important;

}

.title-distanceCovered {
  display: block;
  /* width: 100%; */
  font-size: 3vw !important;
  left: 60% !important
}

.curr-points-ace {
  top: 19% !important;
  left: 21% !important;
}

.curr-points-distanceCovered {
  top: 19% !important;
  left: 65% !important;
}


.small-stat-rectangle {
  width: 44vw;
  top: 13%;
  height: 80vh;
  position: absolute;
  mix-blend-mode: screen !important;
}

.small-stat-rectangle.ace {
  left: 5%;
}

.small-stat-rectangle.distanceCovered {
  right: 5.5%;
}

.small-stat-rectangle.breakPoint {
  left: 66%;
}
.playerName{
  top: 81vh;
  
  width: 113px;
  height: 21px;
  -o-object-fit: contain;
  object-fit: contain;
  font-family: Montserrat;
  font-size: 3vw;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.7px;
  text-align: center;
  color: #e8dc49;
  position: absolute;
}
.playerName.first.home{
left: 51vw;
}
.playerName.first.away{
  left: 75vw;
  }
  .playerName.second.home{
    left: 5vw;
    }
    .playerName.second.away{
      left: 29vw;
      }
      
  

@media only screen and (max-width: 420px) {

  .small-stat-rectangle.distanceCovered {
    left: 5%;
    top: 52%;
  }

  .small-stat-rectangle.ace {
    left: 6%;
    top: 10%;
  }


  .small-stat-rectangle {
    width: 88vw;
    top: 52%;
    height: 41vh;
    position: absolute;
    mix-blend-mode: screen !important;
  }

  .graph-stat-rectangle {
    width: 89vw;
    top: 11%;
    left: 5%;
    height: 40vh;
    position: absolute;
    mix-blend-mode: screen !important;
  }

}

.aceDataHome {
  background-image: url('https://res.cloudinary.com/dezalma3v/image/upload/v1549188189/ellipse_3x.png');
  /* background-color: #ffffff; */
  position: absolute;
  width: 24vw;
  height: 20vh !important;
  top: 40%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  left: 3%;
  height: 20vh;
  mix-blend-mode: screen !important;
  /* color: brown; */

  /* width: 20px; */
  /* height: 13px;
  object-fit: contain; */
  font-family: Montserrat;
  font-size: 3vw;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.1px;
  text-align: center;
  color: #ffffff;


}

.point {}

.aceDataAway {
  background-image: url('https://res.cloudinary.com/dezalma3v/image/upload/v1549188189/ellipse_3x.png');
  /* background-color: #ffffff; */
  position: absolute;
  width: 24vw;
  height: 20vh !important;
  top: 40%;
  left: 26%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  mix-blend-mode: screen !important;
  /* color: brown; */
  font-family: Montserrat;
  font-size: 3vw;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.1px;
  text-align: center;
  color: #ffffff;
}


.distanceCoveredHome {
  /* background-image: url('https://res.cloudinary.com/dezalma3v/image/upload/v1549207282/run-icon_3x.png'); */
  position: absolute;
  width: 24vw;
  height: 20vh !important;
  top: 40%;
  left: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  mix-blend-mode: screen !important;
  /* color: brown; */
  font-family: Montserrat;
  font-size: 3vw;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.1px;
  text-align: center;
  color: #ffffff;
}

.distanceCoveredIcon {
  background-image: url('https://res.cloudinary.com/dezalma3v/image/upload/v1549207282/run-icon_3x.png');
  position: absolute;
  width: 4vw;
  height: 20vh !important;
  top: 40%;
  left: 70%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  mix-blend-mode: screen !important;
  /* color: brown; */
  font-family: Montserrat;
  font-size: 3vw;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.1px;
  text-align: center;
  color: #ffffff;
}

.distanceCoveredAway {
  /* background-image: url('https://res.cloudinary.com/dezalma3v/image/upload/v1549188189/ellipse_3x.png'); */
  /* background-color: #ffffff; */
  position: absolute;
  width: 24vw;
  height: 20vh !important;
  top: 40%;
  left: 73%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  mix-blend-mode: screen !important;
  /* color: brown; */
  font-family: Montserrat;
  font-size: 3vw;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.1px;
  text-align: center;
  color: #ffffff;
}

.pointTitle {
  top: 45% !important;
  position: absolute;
  left: 7vw;
  letter-spacing: 0.1px;
}

.pointTitleA {
  top: 45% !important;
  position: absolute;
  left: 9.5vw;
  letter-spacing: 0.1px;
}

.point {

  top: 3vh;
  position: relative;
}



@media only screen and (max-width: 420px) {

  .title-distanceCovered {
    top: 12vh;
    display: block;
    /* width: 100%; */
    font-size: 3vw !important;
    left: 39% !important;
  }

  .distanceCoveredAway {
    height: 20vh !important;
    top: 20%;
    left: 63%;
    font-size: 4vw;
  }

  .distanceCoveredIcon {
    width: 8vw;
    height: 20vh !important;
    top: 17%;
    left: 47%;
  }

  .distanceCoveredHome {

    top: 20%;
    left: 11%;

    font-size: 4vw;

  }

  .title-ace {
    top: 55vh!important;
    left: 45% !important;

  }


  .aceDataHome {
    top: 63%;

    left: 12%;

  }

  .point {
    top: 7vh;
    position: relative;
  }

  .pointTitle {
    top: 51% !important;
  }

  .aceDataAway {
    top: 63%;
    left: 62%;
  }

  .carousel-indicators {
    bottom: 2%;
  }
}
