.graph-stat-rectangle {
  width: 89vw;
  top: 13%;
  left: 5%;
  height: 46vh;
  position: absolute;
  mix-blend-mode: screen !important;
}
.graph-stat{
  width: 78vw;
  top: 22%;
  left: 15%;
  height: 37vh;
  position: absolute;
  mix-blend-mode: screen !important;
}
.title-lps{
  position: absolute;
  top: 14vh;
  left: 38%!important;
  letter-spacing: 0.8px !important;
  font-size: 2vw;
  /* font-stretch: normal !important; */
  font-family: Montserrat !important;
  color: #ffffff;
}

.small-stat-rectangle{
  width: 28vw;
  top: 61%;
  height: 31vh;
  position: absolute;
  mix-blend-mode: screen !important;
}
.small-stat-rectangle.ace{
  left: 5%;
}
.small-stat-rectangle.doubleFault{
  left: 35.5%;
}
.small-stat-rectangle.breakPoint{
  left: 66%;
}
.small-stat-rectangle.distanceCovered{
  left: 35%;
}