.buttons {
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.buttons button {
  width: 150px;
  border: none;
  background-color: #EEEEEE;
  color: #3F3F3F;
  height: 40px;
  cursor: pointer;
}

button.active {
  background-color: #751933;
  color: #FFF;
  cursor: default;
}

button:focus {
  outline: none;
}

.buttons.open{
  width: calc(100% - 150px);
}
