.buttons {
  position: absolute;
  top: 0.625em;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.buttons button {
  width: 9.375em;
  border: none;
  background-color: #EEEEEE;
  color: #3F3F3F;
  height: 2.5em;
  cursor: pointer;
}

button.active {
  background-color: #751933;
  color: #FFF;
  cursor: default;
}

button:focus {
  outline: none;
}

.buttons.open {
  width: calc(100% - 9.375em);
}
