.field-wrapper {
  /* width: 70vw;
  height: 70vh; */
  /* justify-content:  center; */
  /* margin: auto; */
  

  /* display:flow-root; */

  /* background-color: aliceblue; */
  /* padding: -3.125em 0.313em 3.313em; */

  /* background-color: rgb(232, 232, 232); */
  /* position: relative;  */
  transition: padding ease-in .2s;
}

.field-wrapper.json-open {
  /* padding: 1.25em 11.25em 7.5em 0; */
}

.field-wrapper.json-open.camera .field {
  /* transform: perspective(42.5em) rotateX(65deg) rotateZ(-90deg); */
}

.field-wrapper.camera .field {
  transform: perspective(88vw) rotateX(65deg) rotateZ(-90deg);
}

.field-wrapper.bird .field {
  /* top: 3.125em */
}

.field-wrapper.json-open.bird .field {}


.field-wrapper.side .field {
  transform: perspective(64em) rotateX(35deg) rotateZ(0deg) rotateY(0);
  transform-origin: bottom;
}

.field {
     /* display: flex; */
  justify-content: center;
  align-items: center;

  
  /* position: fixed;
  top: 50%;
  left: 50%; */
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  /* margin: center; */
  /* background-color: aliceblue; */
  /* position: relative; */
  /* -webkit-transform-style: preserve-3d; */
  transform-style: preserve-3d;
  /* -webkit-transition: all ease-in-out .2s; */
  transition: all ease-in-out .2s;
  /* -webkit-box-shadow: inset 0 0 0 2.188em transparent, 0 0 0 1.25em transparent; */
  /* box-shadow: inset 0 0 0 2.188em transparent, 0 0 0 1.25em transparent; */
  /* grid-column: 11; */
  /* top: 7em; */
}

.field-wrapper.json-open .field:after {
  /* width: 38.125em;
  transform: rotateX(90deg) rotateY(90deg) translateX(8.25em) translateY(-17.25em);
  height: 0.563em; */
}

.field-wrapper .field:after {
 
  /* transition: .2s all ease-in;
  position: absolute;
  content: "";
  
  height: 1.25em;
  transform-style: preserve-3d;
  transform: rotateX(90deg) rotateY(90deg) translateX(7.875em) translateY(-25.25em);
  width: 50em;
  left: 0; */
}

.elements-holder {
  /* position: absolute;
  width: 49.375em;
  top: 1.063em;
  bottom: 1.313em;
  left: 5%;
  right: 0%; */

}

.svgField{
  /* display: block ;
   margin: auto; */
  width:80vw;
  height:90vh;
  /* position: flex; */
}