.progress {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.progress p {
  color: #FFF;
  margin: 10px 0 0;
}

.row {
  display: flex;
  align-items: center;
}

.line {
  margin: 0 10px;
  width: 200px;
  position: relative;
  background: #777777;
  height: 10px;
  border-radius: 5px;
  overflow: hidden;
}

.line .filler {
  position: absolute;
  height: 10px;
  background-color: #C1FF5C;
}

.line .filler.home {
  left: 0;
}

.line .filler.away {
  right: 0;
}
