.stat-background{
  top: 2em;
  left: 1.5em;
  position: absolute;
  max-width: 94%;
}
.playersName {
  position: absolute;
  top: 60px;
  left: 370px!important;
  object-fit: contain;
  font-family: Montserrat;
  font-weight: bolder;
  font-style: normal;
  letter-spacing: 0.8px;
  text-align: center;
  font-size: 20px;
  font-stretch: normal;
  line-height: normal;
  color: #e8dc49;
}

.stat-title{
  position: absolute;
  top: 114px;
  left: 370px!important;
  object-fit: contain!important;
  letter-spacing: 0.8px!important;
  text-align: center!important;
  font-size: 20px!important;
  font-style: normal!important;
  font-stretch: normal!important;
  line-height: normal!important;
  font-family: Montserrat!important;
  font-weight: 300!important;
  color: #ffffff;
}

.stat-rectangle{
  max-width: 89%;
  width: 60em;
  top: 8em;
  left: 3em;
  position: absolute;
  mix-blend-mode: screen!important

}

.stat-homeName{
  position: absolute;
  top: 170px;
  left: 88px;
  object-fit: contain;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 100;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.1px;
  text-align: center;
  color: #e8dc49;

}
.stat-awayName{
    position: absolute;
    top: 170px;
    left: 845px;
    object-fit: contain;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 100;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.1px;
    text-align: center;
    color: #e8dc49;
}
