.stat-ball{
  background-image: url('https://res.cloudinary.com/dezalma3v/image/upload/v1547318794/stat-poit-track.png');
  background-repeat:no-repeat;
  background-size:contain; 
  background-position:center;
  left: 100px;
  top: 401px;
  width: 23px;
  height: 23px;
  position: absolute;
  margin: -8px 0 0 -8px;
  transform: rotateY(-60deg);
  z-index: 2;
  border-radius: 50%;
  object-fit: contain;
  background-blend-mode: soft-light;
}
.stat-field{
  left: 87px;
  width: 847px;
  top: 211px;
  position: absolute;
}