
.player {
  /* -webkit-animation: fadeout 4s;  */
  
  width: 1.688em;
  height: 3.875em;
  object-fit: contain;
  position: absolute;
  margin: -2.625em 0 0 -0.75em;
  z-index: 3;

  /* transition: all 0.5s ease-in-out;  */
  /* transform: rotate3d(0,0,0,0deg); */


  /* transition:margin 2s linear; */
  /* left: 0; */
  /* transition:left 1s linear; */
  /* transition:right 5s linear; */
  /* transition:left 5s linear; */


}

.player.rotate {
  transform: rotate(90deg) rotateX(-60deg);
  margin: -1.375em 0 0 0.438em;
  width: 1.688em;
  height: 3.875em;
  /* transition: all 1s linear; */
}

.palyer3D {
  /* transition: all 3s linear; */
  width: 1.688em;
  height: 3.875em;
  object-fit: contain;
  /* transform: translate3d(20px, 20px, 0px); */
  /* background-blend-mode: hue; */
  /* background-image: linear-gradient(to bottom, #edb97c, #edb97c); */
}

@media only screen and (max-width: 600px) {

}

@media (max-width: 575.98px) {  }

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {  
  .palyer3D {
    width: 70%;
    height: 65%;
  }
 
}

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {  }

/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {  }


