@keyframes moovePlayerSmooth {
  from {top:var(--prevX); left: var(--prevY)}
  to {top: var(--currX); left: var(--currY)}
}
.player {
  width: 1.688em;
  height: 3.875em;
  object-fit: contain;
  position: absolute;
  margin: -2.625em 0 0 -0.75em;
  z-index: 1;
  /* animation-name: moovePlayerSmooth; */
  /* animation-duration: 1s; */
  /* animation: moovePlayerSmooth 8s steps(10) infinite alternate; */
  
  /* transform: translate3d(x, y, 0px); */
}

.player.rotate {
  transform: rotate(90deg) rotateX(-60deg);
  margin: -1.375em 0 0 0.438em;
  width: 1.688em;
  height: 3.875em;
  /* transition: all 1s linear; */
}

.palyer3D {
  /* transition: all 3s linear; */
  width: 1.688em;
  height: 3.875em;
  object-fit: contain;
  
  /* background-blend-mode: hue; */
  /* background-image: linear-gradient(to bottom, #edb97c, #edb97c); */
}

@media only screen and (max-width: 600px) {

}

@media (max-width: 575.98px) {  }

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {  
  .palyer3D {
    width: 70%;
    height: 65%;
  }
 
}

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {  }

/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {  }


