.message {
  top: 36px;
  position: absolute;
  left:40%;
  width: 231px;
  height: 33px;
  object-fit: contain;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: -0.8px;
  text-align: center;
  color: #e8dc49;
}

.message.ERROR {
  background: #3F3F3F;
  color: #FFF;
  box-shadow: inset 0 7px 30px rgba(0, 0, 0, 0.4);
}

.message.open {
  width: calc(100% - 150px);
}

h3 {
  font-size: 14px;
  font-weight: bold;
  border-bottom: 1px solid #888888;
  padding-bottom: 10px;
  margin-bottom: 0;
}

.message-text {
  /* font-size: 24px; */
  /* text-transform: uppercase; */
}

.message.ERROR .message-text {
  font-size: 14px;
  text-transform: none;
}

.message-date {
  position: absolute;
  top: -20px;
  right: 10px;
  color: #9e9c9c;
  font-size: 12px;
}

.error-icon {
  margin: 0 5px;
}


@media (max-width: 575.98px) {  }

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {  
  .message {
    left: 58%;
    top: 6%;
  }
 
}

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {  }

/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {  }