/* @import url("https://fonts.googleapis.com/css?family=Ubuntu");

body {
  margin: 0px;
  font-family: "Open Sans", sans-serif;
}



.scoreboard-outer {
    margin-left: auto;
    margin-right: auto;
  position: relative;
  display: flex;
  width: 300px;
  height: 40px;
  top:20px;
  
  background-color: #53e2d4;
}

.scoreboard-outer.open {
  left:20px;
}

.team-name,
.score {
  font-family: "Ubuntu", sans-serif;
  font-size: 1.2em;
  line-height: 40px;
  text-align: center;
}

.team-name {
  flex: 1;
  padding: 0px 8px;
  color: white;
  letter-spacing: 0.5px;
  background-color: #311149;
}

.score-panel {
  flex: 1.2;
  font-weight: 900;
  text-align: center;
}

.team1::after {
  content: " - ";
}

.scoreboard-outer::before {
  width: 8px;
  height: 40px; 
  content: " ";
  background-color: #da291c;
}

.scoreboard-outer::after {
  width: 8px;
  height: 40px;
  content: " ";
  background-color: #6cabdd;
}

 */



.scoreBoardBG {
  position: absolute;
  padding: 0px 0px 0px 0px;
  width: 658px;
  height: 118px;
  left: -20px !important;
  object-fit: contain !important;
  align-self: left !important;

}

.playerText {
  position: absolute;
  top: 27px;
  left: 10px !important;
  width: 34px;
  height: 10px;
  object-fit: contain;
  font-family: Montserrat;
  font-size: 10px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.8px;
  text-align: left;
  color: #e5d9cf;

}

.playerName {
  position: absolute;
  left: 10px !important;
  width: 90px;
  height: 11px;
  object-fit: contain;
  font-family: Montserrat !important;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #e8dc49;
}

/* .playerName.B{
  top:74px
} */


.previusSets {
  position: absolute;
  top: 27px;
  left: 150px !important;
  width: 72px;
  height: 8px;
  object-fit: contain;
  font-family: Montserrat;
  font-size: 10px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.8px;
  text-align: left;
  color: #e5d9cf;
}

.setScore {
  position: absolute;
  left: 155px !important;
  width: 22px !important;
  height: 24px;
  object-fit: contain;
  opacity: 0.9;
  background-color: #cce2eb;
  font-family: Montserrat;
  object-fit: contain !important;
  font-size: 15px;
  font-weight: 300;
  /* font-style: normal;
  font-stretch: normal;
  line-height: normal; */
  letter-spacing: -0.6px;
  color: var(--light-navy);
}

.setScore.set1 {
  left: 151px !important;
}

.setScore.set2 {
  left: 177px !important;
}

.setScore.set3 {
  left: 203px !important;
}

.setScore.set4 {
  left: 229px !important;
}

.A {
  top: 40px;
}

.B {
  top: 68px;
}

.title {
  position: absolute;
  top: 27px;
  width: 72px;
  height: 8px;
  object-fit: contain;
  font-family: Montserrat;
  font-size: 10px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0.8px;
  text-align: left;
  color: #e5d9cf;
}

.sets {
  left: 269px !important;
}

.game {
  left: 309px !important;

}

.point {
  left: 349px !important;
}

.line {
  top: 31px;
  position: absolute;
  left: 399px !important;
  width: 1px;
  height: 60px;
  object-fit: contain;
  opacity: 0.5;
  background-color: #3ba2d9;

}
